/phishing_env/
/venv/
/.venv/
/env/
/.env/

__pycache__/
*.pyc
*.pyo
*.pyd

vscode/
.idea/
.sublime-project
.sublime-workspace

.DS_Store
*.log
*.sqlite3
Thumbs.db
*.egg-info/

/build/
/dist/
.egg-info/

instance/

.pytest_cache/
.coverage
htmlcov/


